
<script>
angular.module("TownHall", []);

angular
  .module("TownHall")
  .controller("CardsIndexController",
    function($scope){
      $scope.cards = [
        { description: "I need more syrup", votes: 9 },
        { description: "Syrup smells funny", votes: 2 },
        { description: "Eat more chicken", votes: 1 }
      ]
    });

</script>

<div ng-app="TownHall">
  <input ng-model="query"/>
  <ol ng-controller="CardsIndexController">
    <li ng-repeat="card in cards | filter:query">{{ card.votes }} {{ card.description }}</li>
  </ol>
</div>
